@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto&display=swap');
* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    margin:0;
}

/* upper-body-design*/

.first-section{
   display: flex;
}

.first-div{
width: 50%;
margin-left: 70px;
}

.first-div p{
    font-size: 23px;
    font-weight: 300;
    padding-top:20px;
    padding-bottom:20px;
}

.orange{
    color:orangered;
}

.second-div h1{
    font-size:30px;
    font-weight: 700;
 margin-left: 0px;
 margin-top:110px;
 padding-left: 20px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 border-left: 7px solid;
border-image: linear-gradient(green,yellow);
border-image-slice: 1;
}

.first-div img{
    height: 80%;
    width: 100%;
}

.action-button{
    text-decoration: none;
    font-size:15px;
    background-image: linear-gradient(yellow,yellowgreen);
    padding:10px 40px;
    border-radius: 7px;
    color: black;
    font-weight: 900;
    cursor: pointer;
}

/* middle body design */

.my-mission{
    text-align: center;
    padding-bottom: 60px;
    font-size: 35px;
    font-weight: 900;
}
.second-section{
    display: flex;
}

#mission-div img{
    height: 150px;
}

#mission-div{
    margin-left:90px;
    margin-right:40px;
    margin-bottom: 40px;
    width: 30%;
    border-radius: 40px;
    background-color:rgb(248, 244, 171);
    padding-left:20px;
    padding-right:20px;
}

#vission-div img{
height: 150px;
}

#vission-div{
    margin-left:10px;
    margin-right:20px;
    margin-bottom: 40px;
    width:30%;
    border-radius: 40px;
    background-color:rgb(98, 155, 125);
    padding-left:20px;
    padding-right:20px;
}

#goal-div img{
    height: 150px;
}

#goal-div{
    margin-left:40px;
    margin-right:90px;
    margin-bottom: 40px;
    width: 30%;
    border-radius: 40px;
    background-color: rgb(204, 142, 163);
    padding-right: 20px;
    padding-left:20px;
}

.box-head{
    font-size:25px;
    font-weight: 900;
}

/* second middle body design */

.third-section{
    display: flex;
}

.cod-im img{
    width:450px;
    height: 390px;
    margin-left:90px;
}

.cod-im{
    margin-top: 40px;
    width: 50%;
}

.third-section-text h1{
    font-size: 23px;
    font-weight: 900;
}

.third-section-text p{
    padding-bottom: 20px;
    text-align: justify;
    padding-right:50px;
    font-size:17px;
    font-weight: 500;
}

/* lower middle body design */

.fourth-section{
    display: flex;
}

.fourth-section-text{
    margin-left:90px;
}

.fourth-section-text h1{
    font-size: 23px;
    font-weight: 900;
}

.fourth-section-text p{
    padding-bottom: 20px;
    text-align: justify;
    padding-right:50px;
    font-size:17px;
    font-weight: 500;
}

.an-btn{
    margin-left: 90px;
}

/* lower body design */

.last-section{
    display: flex;
    justify-content: space-between;
}

.last-class{
    width: 45%;
}

.last-class img{
    width:450px;
    height: 400px;
    margin-bottom:60px;
    margin-left:90px;
}

.last-pra {
    font-size:25px;
    margin-right: 170px;
    font-weight:900;
}

.famedul{
    color: gray;
}

.footer{
    border-top: 7px solid;
    text-align: center;
    padding:50px;
    background-color: black;
}

.footer p{
    font-size: 19px;
    color:#fff;
    font-family:sans-serif;
    font-weight:650;
}

.footer h1{
color: aliceblue;
}

footer{
    color: white;
    text-align: center;
    font-size:16px;
    background-color: black;
}